__pycache__/
*.pyc
.env
node_modules/
.DS_Store
dist.zip
dist.tar.gz
myrush_webApp/dist.zip
myrush_webApp/dist.tar.gz
unified-backend/myrush-eba39-firebase-adminsdk-fbsvc-*.json
unified-backend/myrush-eba39-firebase-adminsdk-fbsvc-bde7fc0b34*.json
